<div class="container-fluid no-gutter carousel">
    <div class="text-overlay">
        <h1 class="restaurant-title">La Goulée Vendéenne</h1>
    </div>
    <div class="carousel-images">
        <img src="{{ asset('images/1200x680_sardines_marie_france_bertaud_bis.jpg') }}" alt="Sardines grillées">
        <img src="{{ asset('images/flan-maraichin-salon-des-desserts.jpg') }}" alt="Flan Maraichin">
        <img src="{{ asset('images/P28483099D4820403G.webp') }}" alt="Mogettes Jambon">
    </div>
    <div class="carousel-nav">
        <button class="nav-button active" data-index="1"></button>
        <button class="nav-button" data-index="2"></button>
        <button class="nav-button" data-index="3"></button>
    </div>
</div>