<ul>
    <li><a href="/" id="flying-entrees">LES ENTRÉES</a></li>
    <li><a href="/plats#menu-container" id="flying-plats">LES PLATS</a></li>
    <li><a href="/desserts#menu-container" id="flying-desserts">LES DESSERTS</a></li>
    <li><a href="/boissons#menu-container" id="flying-boissons">LES BOISSONS</a></li>
    <li><a href="/formules#menu-container" id="flying-formules">LES FORMULES</a></li>
</ul>
