<footer class="container-fluid no-gutter">
    <div class="mobile-social-container">
        <div class="mobile-social">
            <h4>Suivez nous sur les réseaux sociaux</h4>
            <ul class="mobile-icons-social">
                <li><i class="fa-brands fa-xl fa-facebook"></i></li>
                <li><i class="fa-brands fa-xl fa-instagram"></i></li>
                <li><i class="fa-brands fa-xl fa-youtube"></i></li>
            </ul>
        </div>
    </div>
    <div class="row footer-container">
        <div class="col-lg-3 col-md-6 footer-description">
            <div class="logo2">
                <img src="{{ asset('images/Logo_La_goulee_vendeenne_proposition_3.png') }}" alt="Logo Restaurant">
            </div>
            <p>Le restaurant la Goulée Vendéenne vous propose des plats typiques de Vendée pour une plongée dans le passé; le tout dans un cadre convivial et agréable.</p>
        </div>
        <div class="col-md-6 footer-links">
            <div class="footer-link-col">
                <h4>LA CARTE</h4>
                <ul class="footer-link-col-ul">
                    <li><a href="/" id="footer-entrees">LES ENTRÉES</a></li>
                    <li><a href="/plats#menu-container" id="footer-plats">LES PLATS</a></li>
                    <li><a href="/desserts#menu-container" id="footer-desserts">LES DESSERTS</a></li>
                    <li><a href="/boissons#menu-container" id="footer-boissons">LES BOISSONS</a></li>
                    <li><a href="/formules#menu-container" id="footer-formules">LES FORMULES</a></li>
                </ul>
            </div>
            <div class="footer-link-col">
                <h4>NOUS CONTACTER</h4>
                <ul class="footer-link-col-ul">
                    <li><a href="https://www.google.com/maps/place/Tour+M%C3%A9lusine/@46.5735107,-0.7718569,15z/data=!4m6!3m5!1s0x4806e66a21806811:0x9c461d485fdcee!8m2!3d46.5735107!4d-0.7718569!16s%2Fm%2F0b6gglr" target="_blank"><i class="fa fa-map-marker fa-fw"></i> 57 RUE DE MON RESTAURANT</br>99999 UNE VILLE DE FRANCE </a></li>
                    <li><a class="restaurant-phone" href="tel:0212345678"><i class="fa fa-phone fa-fw"></i> 02 12 34 56 78</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 footer-social">
            <div class="footer-social-row">
                <h4>SUIVEZ NOUS SUR LES RÉSEAUX SOCIAUX</h4>
            </div>
            <ul class="footer-icons-social-row">
                <li><a href="#" target="_blank"><i class="fa-brands fa-xl fa-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa-brands fa-xl fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa-brands fa-xl fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row div-footer-copyright">
        <p class="footer-copyright"> © 2023 LA GOULÉE VENDÉENNE </p>
    </div>
</footer>