<nav class="horizontal-menu">
    <ul class="horizontal-menu-list">
        <li><a href="/" id="entrees">LES ENTRÉES</a></li>
        <li><a href="/plats#menu-container" id="plats">LES PLATS</a></li>
        <li><a href="/desserts#menu-container" id="desserts">LES DESSERTS</a></li>
        <li><a href="/boissons#menu-container" id="boissons">LES BOISSONS</a></li>
        <li><a href="/formules#menu-container" id="formules">LES FORMULES</a></li>
    </ul>
</nav>