
<div class="reservation-container-mobile">
    <a class="reservation-form-link formulaire-reservation" id="reservationMobileLinkModal" onclick="btnReservationClick();">Réserver maintenant</a>
</div>
<div class="infos-pratiques" id="infos-pratiques-mobile">
    <h4 id="title-infos-pratiques">Infos Pratiques</h4>
    <div class="adresse">
        <div class="adresse-items">
            <h4>Adresse</h4>
            <a href="https://www.google.com/maps/place/Tour+M%C3%A9lusine/@46.5735107,-0.7718569,15z/data=!4m6!3m5!1s0x4806e66a21806811:0x9c461d485fdcee!8m2!3d46.5735107!4d-0.7718569!16s%2Fm%2F0b6gglr" target="_blank">57 RUE DE MON RESTAURANT <br> 99999 UNE VILLE DE FRANCE</a>
        </div>
    </div>
    <div class="telephone">
        <div class="telephone-items">
            <h4>Téléphone</h4>
            <a class="restaurant-phone" href="tel:0212345678">02 12 34 56 78</a>
        </div>
    </div>
    <div class="parking">
        <div class="parking-items">
            <h4>Parking</h4>
            <p>Parking en Face du restaurant gratuit de 12h à 14h et à partir de 19h</p>
        </div>
    </div>
    <div class="horaires">
        <h4>Horaires</h4>
        <div class="opening-hours-wrap">
            <div class="opening-hours flex-row-wrap">
                <div class="day-wrap">
                    <h4 class="day"><span>Lun</span> - <span>Ven :</span></h4>
                    <p class="hours">
                        <span class="hour">{{ infosPratiques[0]['horairesmatin'] }}</span>
                        <span class="hours-separator">•</span>
                        <span class="hour">{{ infosPratiques[0]['horairessoir'] }}</span>
                    </p>
                </div>
                <div class="day-wrap">
                    <h4 class="day"><span>Samedi :</span></h4>
                    <p class="hours">
                        <span class="hour">{{ infosPratiques[1]['horairesmatin'] }}</span>
                        <span class="hours-separator">•</span>
                        <span class="hour">{{ infosPratiques[1]['horairessoir'] }}</span>
                    </p>
                </div>
                <div class="day-wrap">
                    <h4 class="day"><span>Dimanche :</span></h4>
                    <p class="hours">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        Fermé
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class='info'>
        <div class="useful-infos">
            <div class="useful-infos-item">
                <h4>Cuisine</h4>
                <p>Française Traditionnelle, Vendéenne.</p>
            </div>
            <div class="useful-infos-item">
                <h4>Type de restaurant</h4>
                <p>Restaurant traditionnel français.</p>
            </div>
            <div class="useful-infos-item">
                <h4>Services</h4>
                <p>Accès Wifi, Accès aux personnes à mobilité réduite, Climatisation, Vente sur place, Parking Gratuit le Soir.</p>
            </div>
            <div class="useful-infos-item">
                <h4>Moyens de paiement</h4>
                <p>Carte Bleue, Chèques, Chèques Vacances, Visa, Espèces, Titres restaurant, Sans Contact.</p>
            </div>
        </div>
    </div>
</div>